<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <title>Информация</title>
    <link rel="icon" href="{{ url_for('static', filename='iconka.ico') }}" type="image/x-icon"/> 
</head>


<body>

    <figure>
  	<div class="image">
 	<img src="https://sun9-30.userapi.com/impg/3zp0USeeEpW9U1WXETXM_poQ27ain-L_Rp1HuQ/oNyDNPcQeQM.jpg?size=1514x2048&quality=96&sign=0ee8ad26bc110ed6eea0fb49299ac0b5&type=album" width="1514" height="2048"/>
  	</div>

        <figcaption>
    	  Котэ
  	</figcaption>
    </figure>

</body>


</html>